body {
    background-color: #f0f0f0;
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

.header {
    grid-area: header;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.main {
    grid-area: main;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main.active {
    display: flex;
}

.footer {
    grid-area: footer;
    background-color: #f8f8f8;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #e0e0e0;
}

.active-tab {
    border-bottom: 3px solid #007bff;
}

.tab span {
    display: block;
    font-size: 14px
  
}

/* Optional: Additional styling for the icons */
#tab-icon {
    font-size: 14px;
   
}
