/* Styles for tab1 */
#tab1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#tab1-content {
    flex-grow: 1;
    /* Add styles for the upper part of tab1 */
    flex-basis: 70%; /* Set this to 70% */

}

#tab1-bottom-content {
    display: flex;
    flex-basis: 30%; /* Set this to 30% */

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#clickable-coin {
    background: none;
    border: none;
}

#clickable-coin img {
    width: 80%;
    max-width: 260px;
    transition: transform 0.3s ease; /* Smooth scale transition */

}

#clickable-coin img.clicked {
    transform: scale(1.2);
}


#energy-bar-container {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#energy-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#energy-fill {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #76c7c0, #34a0a4); /* Gradient effect */
    border-radius: 10px;
}

#energy-value-container {
    padding: 10px;
}

#energy-value {
    font-size: 14px;
}

/* Feedback animation */
.feedback {
    position: absolute;
    font-size: 2rem;
    color: #000; /* Black color */
    pointer-events: none;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transform: translateY(0) scale(1);
    opacity: 0; /* Initially hidden */
}

.feedback.show {
    opacity: 1; /* Visible */
    transform: translateY(-140px) scale(1.2); /* Move and scale up */
}

.feedback.hidden {
    opacity: 0; /* Hidden */
    transform: translateY(-140px) scale(1.2); /* Keep moved-up position */
}
